language: node_js
node_js:
  - "8"
  - "10"
  - "node"
install:
  - "echo 'starting tests...'"
script:
  - cd tests/webpack5
  - yarn
  - yarn build
  - yarn test
matrix:
  include:
    - name: "webpack 3"
      node_js: "8"
      script:
        - cd tests/webpack3
        - yarn
        - yarn build
        - yarn test
    - name: "webpack 4"
      node_js: "10"
      script:
        - cd tests/webpack4
        - yarn
        - yarn build
        - yarn test
cache:
  yarn: true
  directories:
    - node_modules
    - tests/webpack3/node_modules
    - tests/webpack4/node_modules
    - tests/webpack5/node_modules